.tableWrapper{

  .table {
      display: block;
      border-spacing: 0;
      width: 100%;
  
      .tr {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        border-radius: 8px;
        background: #fcffff;
        border: 2px solid rgb(67 56 202);

        .th {
          font-weight: bold;
          font-size: 16px;
          background: rgb(67 56 202);
          color: white;
          width: 100%;
          overflow-x: hidden;
        }

        .td{
          overflow-x: hidden;
          width: 100%;
        }
        
    }
  
      .th, .td {
        margin: auto 0;
        padding: 10px 8px;
        padding-left: 20px!important;
        width: 100%;
      }

      .td{
          padding-left: 10px;
      }
    }
}
